.piece {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 40px;
  height: 80px;
  transform: translate(-50%, -50%);

  background-color: whitesmoke;
  border: 1px solid #c0c0c0;

  &.on-board {
    position: absolute;
    display: block;

    &.rotated {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &.rotated.flipped {
      transform: translate(-50%, -50%) rotate(270deg);
    }
    &.flipped {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  &.in-hand {
    position: relative;
    display: inline-block;

    margin: 0 5px;

    &.selected {
      top: -10px;
      box-shadow: 5px 10px 0 rgba(0,0,0,0.6);
    }
  }

  & > div {
    flex: 0 1 auto;
    height: 50%;
    text-align: center;
    line-height: 2.5em;
    vertical-align: middle;

    &:first-child {
      border-bottom: 1px dotted #aaa;
    }
  }

  .spots-0 {}
  .spots-1 {
    backdrop-color: #001;
    background-image: radial-gradient(red 20%, transparent 21%);
    background-size: 40px 40px;
    background-position: 0px 0px;
  }
  .spots-2 {
    backdrop-color: #001;
    background-image: radial-gradient(black 20%, transparent 21%), radial-gradient(black 20%, transparent 21%);
    background-size: 40px 40px;
    background-position: 10px 10px, 30px 30px;
  }
  .spots-3 {
    backdrop-color: #001;
    background-image: radial-gradient(black 20%, transparent 21%),
        radial-gradient(black 20%, transparent 21%),
        radial-gradient(black 20%, transparent 21%);
    background-size: 40px 40px;
    background-position: 10px 10px, 0px 0px, 30px 30px;
  }
  .spots-4 {
    backdrop-color: #001;
    background-image: radial-gradient(black 20%, transparent 21%),
        radial-gradient(black 20%, transparent 21%),
        radial-gradient(black 20%, transparent 21%),
        radial-gradient(black 20%, transparent 21%);
    background-size: 40px 40px;
    background-position: 10px 10px, 30px 10px, 10px 30px, 30px 30px;
  }
  .spots-5 {
    backdrop-color: #001;
    background-image: radial-gradient(black 20%, transparent 21%),
    radial-gradient(black 20%, transparent 21%),
    radial-gradient(black 20%, transparent 21%),
    radial-gradient(black 20%, transparent 21%),
    radial-gradient(black 20%, transparent 21%);
    background-size: 40px 40px;
    background-position: 10px 10px, 30px 10px, 0px 0px, 10px 30px, 30px 30px;
  }
  .spots-6 {
    backdrop-color: #001;
    background-image: radial-gradient(red 15%, transparent 16%),
    radial-gradient(red 15%, transparent 16%),
    radial-gradient(red 15%, transparent 16%),
    radial-gradient(red 15%, transparent 16%),
    radial-gradient(red 15%, transparent 16%),
    radial-gradient(red 15%, transparent 16%);
    background-size: 40px 40px;
    background-position: 11px 10px, 27px 10px, 27px 0px, 11px 0px, 11px 30px, 27px 30px;
  }
}
